body{
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/hs-2015-29-a-xlarge_web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: mediumvioletred;
}


.individual{
    border: gold solid 2px;
    width: 270px;
    margin: 20px 20px;;
    background-color: darkblue;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.list-img {
    width: 250px;
    transform: translate(4%, -2%);    
    border-radius: 10px;
}

#heroes-logo {
    width: 70em;
}

#button-div{
    margin-top: 40px;
}

button {
    border: blue solid 2px;
    background-color: magenta;
    width: 250px;
    height: 50px;
    transform: translateX(30%);
}

.container {
    position: relative;
    width: 1200px;
    height: 1200px;
    margin-left: 110px;
}

h2, h3 {
    margin-left: 15px;
}

.single {
    transform: translate(170%, 50%);
}

.class {
    margin-left: 75px;
    transform: translateY(50%);
}

.header {
    text-align: center;
}